name: Publish
on:
  workflow_dispatch:

permissions:
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/setup-gradle@v3
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 23
      - run: echo "TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
      - run: echo "USERNAME=${{ github.actor }}" >> $GITHUB_ENV
      - run: chmod u+x gradlew && ./gradlew publish --no-daemon